<h1 id='tutes'>{{title}}</h1>

<p id='loginErrors'>{{logInError}}</p>

<form class='pure-form pure-form-stacked' method='post' action=''>
<fieldset>
<center>
	<input type='text' name='username' placeholder='Username'>
	<input type='password' name='password' placeholder='Password'>
	<button type='button' onclick='document.location.href="/signup"' class="pure-button">Sign Up</button>
	<button type='submit' class="pure-button">Log In</button>
<center>
</fieldset>
</form>

<br> <br>
<center><h3>Where the Smart Gets Smarter</h3><center>

