<h3> Settings </h3>

<form method="POST" action"">
Show only birds that have been seen this number of times: <br>
<input type='number' name='min' value='{{minValue}}'> <br>
<input type='submit' value='Set it!'>
</post>

<br><a href='/birds'> Birds </a>
