<h1>Create a new list! </h1>
<form method='post' action=''>
	Create a New List: <input type='text' name='name'> <br><br>
	Created By: <input type='text' name='createdBy'> <br><br>
	<input type='submit' value='Create new Grocery List'> <br>
</form>

<a href="/list'>All Lists</a>
